


#b5 img{
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
		width:50px;
		height:50px ;

	}
	#b5 img:after{
		content: '\00bb';
		position: absolute;
		opacity: 0;
		top: 0
		right:-20px;
		transition:0.5s;
	}
	#b5:hover img{
		padding-right: 25px;
	}
	#b5:hover img:after{
		opacity: 1;
		right:0;
	}

#banner{
    height:10em;
}
.btn{
    
}